/src/main/
/pom.xml
/Screenshoot/Getnow_playing/
/README.MD
/src/
/src/main/java/com/juaracoding/
/src/main/java/
/Screenshoot/Getpopularmovie/
/Screenshoot/Getpopularmovie/AssertResultsPopularMovie.PNG
/src/test/
/src/test/java/
/.idea/
/Screenshoot/
/Screenshoot/Getpopularmovie/GetPopularMovie.PNG
/src/main/resources/
